.card {
    display: inline-block;
    width: 70px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    perspective: 140px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front {
    background: navy;
}

.card-back {
    background: darkcyan;
}


.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid black;
}